 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: #ede4e2ef;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  overflow-x:auto;
}


header {
  background: #5a2381;
  color: white;     
  padding: 60px 0;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}


nav {
  background: #9a67bf;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #90e0ef;
}


section {
  padding: 60px 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #03045e;
}


.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.skills-list li {
  background: #90e0ef;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  color: #023e8a;
}


.project-card {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-left: 5px solid #0077b6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

form button {
  padding: 10px;
  background: #552287;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background: #023e8a;
}


footer {
  background: #03045e;
  color: white;
  text-align: center;
  padding: 20px 0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}
